body{
    min-width: 1226px;
    color: #333;
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}

.w{
    width: 1226px;
    margin: 0 auto;
}